body {
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  border: black 1px solid;
  min-height: calc(100vh - 104px - 48px);
}

.nav {
  width: 300px;
  min-width: 250px;
  border: red 1px solid;
}

.project-preview {
  width: 900px;
  border: blue 1px solid;
}
